/* Container styles */
.App {
  max-width: 800px; /* Set maximum width for content */
  margin: 0 auto; /* Center content horizontally */
  padding: 20px; /* Add padding around content */
  background-color: #de6b6b; /* White background color for the container */
}

form {
  margin-bottom: 20px;git add README.md

}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}